* {
    box-sizing: border-box;
 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    background-color: whitesmoke;
}

.overall-container {
   background-color: rgb(179, 204, 219);
    padding: 10px;
    margin: 100px;
    margin-top: 100px;
    height: 70vh;  
    box-shadow: 0 0 5px 5px rgb(202, 198, 198);  
}


.main-container {
  display: block; 
   margin-left: auto;
   margin-right: auto;
   background-color: #fff;
   box-shadow:0px 5px 5px 5px rgba(5, 7, 1, 0.068);
   border-radius: 10px;
   width: 300px;
   height: 400px;
   margin-top: 40px;
   
   
}


.qr-code {
    width: 250px;
    height: 200px;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 20px;
}

.comment {
  font-weight: bold;
  font-size: 20px;
  width: 290px;
  text-align: center;
  margin-left: 8px;
  color: rgb(22, 22, 85);
}

.comment2 {
  color: rgb(143, 136, 136);
  font-size: 17px;
  width: 300px;
  text-align: center;
  
}

.attribution {
    float: right;
}

.attribution a {
    color: gray;
    text-decoration: none;
    border: 1px solid lightblue;
    border-radius: 2px;
    padding: 5px;
    background-color: lightblue;
}

.attribution a:hover {
    background-color: royalblue;
}

